{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block logged_in %}
  <div class="row">
    <div id="sign-up">
      <form id="signup-form">
        <div class="form-group">
          <label for="display-name">Display Name</label>
          <input type="text" class="form-control" name="display-name" id="display-name" required>
        </div>
        <div class="form-group">
          <label for="handle">Handle</label>
          <input type="text" class="form-control" name="handld" id="handle" placeholder="handle" required>
        </div>
        <button type="submit" id="signupSubmit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div id="user" style="display: None"></div>
{% endblock %}
{% block footerscripts %}
  <script>
    var checkForInputTimer;
    var checkForInput = function () {
      if ($('#user').text().length > 0 && $("#display-name").is(':visible')) {
        window.clearInterval(checkForInputTimer);
        $('#display-name').val($('#user').text());
      }
    };
    checkForInputTimer = window.setInterval(checkForInput, 100);

    $('#signup-form').submit(function(event) {
      event.preventDefault();
      $.ajax(window.location.protocol + '//' + window.location.host + '/firebase/create-profile', {
        /* Set header for the XMLHttpRequest to get data from the web server
        associated with userIdToken */
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + getUserIdToken()
        },

        data: {
          'display-name': $('#display-name').val(),
          'handle': $('#handle').val()
        },
        error: function() {
          alert('something bad happened');
        }
      }).then(function(data){
        console.log(data);
      });
    });
  </script>
{% endblock %}
