<head>
  <title>Sign Up</title>
</head>
<body>
  {% if error %}{{ error }}<br>{% endif %}
  <form method="POST" action="">
    {% if form_errors.email %}{{ form_errors.email }}<br>{% endif %}
    <input type="email" name="email" placeholder="Email" value="{{ email }}"><br>
    {% if form_errors.name %}{{ form_errors.name }}<br>{% endif %}
    <input type="text" name="name" placeholder="Display Name" value="{{ name }}"><br>
    {% if form_errors.handle %}{{ form_errors.handle }}<br>{% endif %}
    <input type="text" name="handle" placeholder="Handle" value="{{ handle }}"><br>
    {% if form_errors.password %}{{ form_errors.password }}<br>{% endif %}
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit" id="signupSubmit" class="btn btn-primary">Submit</button>
  </form>
</body>
