{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block logged_in %}
  <div class="row no-gutters">
    <div class="col-xs-12">
      <h1>Welcome <span id="user"/></h1>
    </div>
  </div>
  <div class="row no-gutters">
    <div id="new-message">
      <div class="form-group">
        <label for="message">New Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
        <div class="input-group input-file mb-3" data-type="message">
          <span class="input-group-prepend">
            <button class="btn btn-outline-primary btn-choose" type="button">Choose</button>
          </span>
          <input type="text" class="form-control" placeholder="Add picture or video" />
          <span class="input-group-aappend">
            <button class="btn btn-warning btn-reset" type="button">Reset</button>
          </span>
        </div>
      </div>
      <button type="submit" id="messageSubmit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  <div id="messages">
  </div>
{% endblock %}
